#businessContentTop{
    background-image: url('../assets/businessGraffitit.png');
    height: auto!important;
    background-position: center;
    background-size: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat!important;
}

.overlayB{
    background-color: #CCF4E5;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#headingForBusiness,#businessContentPart, .offeringBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
    color: black;
}

#businessOfferings{
    background-image: url('../assets/BusinessOfferings.jpeg');
    height: auto!important;
    background-position: center;
    background-size: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat!important;
}

.overlayBG{
    background-color: #06462F;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#businessContent{
    background-image: url('../assets/BusinessContentBackgroundImage.jpeg');
    height: auto!important;
    background-position: center;
    background-size: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat!important;
}

.overlayBO{
    background-color: #20CD8D;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#businessContentPart{
    flex-direction: column;
}

.businessContentTextBox {
    position: relative;
    width: 50%;
    height: 600px;
    margin-top: 80px;
    border-radius: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .businessContentTextBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0097b2, #7ed957);
    opacity: 0.4;
    z-index: -1;
    border-radius: 100px;
  }

  .offeringBox{
    background-color: #046B46;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .largeBox{
    background-color: #046B46;
    width: 900px;
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    border-radius: 35px;
  }

  .offeringBox img{
    width: 160px;
  }

  .offeringBoxText{
    font-size: 25px;
    color: white;
  }

  .OfferingBoxesForMobile{
    display: none!important;
  }

  .OfferingBoxesForMobile .largeBox{
    display: none!important;
  }

  @media(max-width:1400px){
    .offeringBox{
      width: 150px!important;
      height: 150px!important;
      margin-left: 35px!important;
      border-radius: 25px!important;
    }

    .offeringBox img{
      width: 100px!important;
    }

    .offeringBoxText{
      font-size: 18px!important;
    }

    .largeBox{
      width: 520px!important;
      height: 150px!important;
      margin-left: 35px!important;
      border-radius: 25px!important;
    }

    #firstH1OfLargeBox{
      font-size: 60px!important;
    }

    #secondH1OfLargeBox{
      font-size: 16px!important;
    }

    #businessContentPart h1{
      font-size: 45px!important;
      padding-top: 100px!important;
    }

    .businessContentTextBox{
      margin-top: 40px!important;
    }

    #businessContentPart h2{
      font-size: 31px!important;
      margin-top: -40px!important;
    }

    #businessContentPart li h2{
      font-size: 23px!important;
      margin-top: 20px!important;
    }

  }

  @media(max-width:1250px){

    #headingForBusiness{
      padding-top: 20px!important;
    }
    #individualContentOne{
      margin-top: 130px!important;
      font-size: 50px!important;
    }

    #individualContentTwo{
      margin-top: 30px!important;
      font-size: 35px!important;
    }

    #individualContentThree{
      font-size: 25px!important;
      margin-top: 30px!important;
    }

    #businessContentPart h2{
      font-size: 25px!important;
    }
  }

  @media(max-width:500px){
    #individualContentOne{
      margin-top: 110px!important;
      font-size: 21px!important;
    }

    #individualContentTwo{
      margin-top: 20px!important;
      font-size: 15px!important;
    }

    #individualContentThree{
      font-size: 12px!important;
      margin-top: 20px!important;
    }

    .offeringBoxes{
      display: none!important;
    }

    #businessOfferings{
      margin-top: -50px!important;
    }

    .OfferingBoxesForMobile{
      display: flex!important;
    }

    .OfferingBoxesForMobile .offeringBox{
      margin: 0px!important;
      z-index: 3!important;
      margin-top: 50px!important;
      display: flex!important;
      justify-content: center!important;
      align-items: center!important;
      margin-left: 25px!Important;
    }

    .OfferingBoxesForMobile .offeringBox h1{
      font-size: 15px!important;
      text-align: center!important;
    }

    .mobileServices, .mobileServices h1{
      display: block;
      z-index: 3!important;
      color: white;
    }

    .OfferingBoxesForMobile .largeBox{
      display: flex!important;
      z-index: 3!important;
      margin-top: 40px;
      width: 310px!important;
      height: 100px!important;
      justify-content: center;
      align-items: center;
    }

    .OfferingBoxesForMobile .largeBox #firstH1OfLargeBox{
      font-size: 35px!important;
    }

    .OfferingBoxesForMobile .largeBox #secondH1OfLargeBox{
      font-size: 10px!important;
    }

    #businessContentPart h1{
      font-size: 20px!important;
      margin-top: -30px!important;
    }

    .businessContentTextBox{
      margin-left: -100px!important;
      width: 300px!important;
      height: 500px!important;
    }

    .businessContentTextBox h2{
      font-size: 10px!important;
    }

    #businessContentPart h2{
      font-size: 18px!important;
      margin-left: 15px!important;
      margin-right: 15px!important;
    }

    #businessContentPart li h2{
      font-size: 15px!important;
      justify-content: center!important;
      text-align: center!important;
      margin-top: -20px!important;
      margin-bottom: 0px!important;
      padding-bottom: 0px!important;
      margin-left: 0px!important;
      margin-right: 0px!important;
      padding-left: 0px!important;
      padding-right: 0px!important;
    }

    #leftSideContent h1{
      margin-top: -200px!important;
      font-size: 40px!important;
    }

    #leftSideContent h6{
      font-size: 15px!important;
      margin-left: -20px!important;
    }
    
  }
  
