#individualContent{
    background-image: url('../assets/IndividualBackground.jpeg');
    height: auto!important;
    background-position: center;
    background-size: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat!important;
}

.overlayI{
    background-color: #CCF4E5;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#headingForIndividual,#genTypesContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
    color: black;
}

#genTypes{
    background-image: url('../assets/GenTypesBackgroundImage.jpeg');
    height: auto!important;
    background-position: center;
    background-size: 100%;
    position: relative;
    background-size: cover;
    background-repeat: repeat!important;
}

.overlayIG{
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.typeBoxes {
    background-color: #02C37E;
    height: 700px;
    width: 450px;
    margin-top: 240px;
    border-radius: 35px;
    margin-bottom: 100px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(6, 13, 109, 0.4); /* Example box shadow */
}


#genHeading{
    padding-top: 150px;
}

.frontContent,
.backContent {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#genZMainContent{
    padding-top: 100px;
    width: 92%;
    margin-left: 4%;
}

.backContent {
    transform: rotateY(180deg);
}

.typeBoxes:hover {
    transform: rotateY(180deg);
}
@media(max-width:1400px){
    #individualContentOne{
        margin-top: 190px!important;
        font-size: 70px!important;
    }

    #individualContentTwo{
        margin-top: 60px!important;
        font-size: 40px!important;
    }

    #individualContentThree{
        margin-top: 60px!important;
        font-size: 30px!important;
        margin-bottom: 50px;
    }

    .typeBoxes{
        height: 550px!important;
        width: 390px!important;
        margin-top: 100px!important;
        border-radius: 25px!important;
        margin-left: 15px!important;
        margin-bottom: 80px!important;
    }

    #genHeading h3{
        font-size: 18px;
    }

    #genZMainContent h4{
        font-size: 16px!important;
    }

    #genZMainContent li{
        font-size: 16px!important;
    }
}

@media(max-width:500px){
    #individualContentOne{
        margin-top: 120px!important;
        font-size: 35px!important;
    }

    #individualContentTwo{
        margin-top: 30px!important;
        font-size: 20px!important;
    }

    #individualContentThree{
        margin-top: 30px!important;
        font-size: 15px!important;
        margin-bottom: 50px;
    }

    #genTypesContent{
        flex-direction: column!important;
    }

    .typeBoxes{
        height: 550px!important;
        width: 87%!important;
        margin-top: 20px!important;
        border-radius: 35px!important;
        margin-left: 2%!important;
        margin-bottom: 40px!important;
    }

    #genHeading h3{
        font-size: 18px;
    }

    #genZMainContent h4{
        font-size: 16px!important;
    }

    #genZMainContent li{
        font-size: 16px!important;
    }
}